:root{
  --colorFondo: #FEF4FD;/* #110938 */
  --colorBarraSecundario: #F7C9F3;/* #EE3EFE */
  --colorBarraPrimario: #4180F6;/* #2E32FB */
  --colorBoton1: #F7C9F3;/* #EE3EFE */
  --colorBoton1Borde1: #997D97;/* #A72CB3 */
  --colorVentanaBorde1: #B4B4B4;/* #8F8F8F */
  --colorBorde2: #FFFFFF;/* #FFFFFF */
  --colorBoton2Borde: #4C2F99;/* #4C2F99 */
  --colorBoton2Borde1: #284F99;/* #2124B3 */
  --colorBoton2Fondo: #4180F6;/* #2E32FB */
  --colorDivisionBorde: #E6BBE2;/* #2E32FB */
  --colorDivisionBorde1: #E6DCE4;/* #E6DCE4 */
  --colorDivisionBorde2: #80687D;/* #110038 */
  --colorTextoDivision: #110038;/* #110038 */
  --colorGifBorde1: #B4B4B4;/* #5C5C5C */
  --colorTexto: #110038;/* #FFFFFF */
  --colorTextoBoton: #B4B4B4;/* #8F8F8F */
  --fondoVentana: #E6E6E6;/* #B4B4B4 */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1em;
}
body{
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  background: var(--colorFondo);
}
header,section{
  margin: 2% 6.9%;
}
section.sugerencia, section.tendencias{
  margin: 6.9%;
}
a{
  text-decoration: none;
  color: var(--colorTexto);
}
section{
  margin: 0 6.9%;
}
.barraTitulo{
  width: 100%;
  height: 24px;
  background-image: linear-gradient(270deg, var(--colorBarraSecundario) 0%, var(--colorBarraPrimario) 100%);
  display: flex;
  align-items: center;
  font-size: .88em;
  color: var(--colorBorde2);
  letter-spacing: 0;
  padding: .5%;
  font-weight: bold;
}
.barraTitulo.primer{
  box-shadow: 0 1px 0 0 var(--colorTexto);
  font-weight: normal;
}
.boton1{
  color: var(--colorTexto);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: var(--colorBoton1);
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 var(--colorBoton1Borde1), inset 1px 1px 0 0 var(--colorBorde2);
  height: 2.25em;
}
.boton1:hover, .boton1:focus{
  outline: 1px dotted #110038;
  outline-offset: -3px;
}
div.elegirTemas{
  position: relative;
  display: flex;
  width: max-content;
}
/* Menú temas */
div.temas{
  position: absolute;
  top: 2.25em;
  width: 100%;
  height: 6.38em;
  background: var(--fondoVentana);
  box-shadow: inset -2px -2px 0 0 var(--colorVentanaBorde1), inset 2px 2px 0 0 var(--colorBorde2);
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  z-index: 1;
}
div.temas button{
  margin: 2%;
  height: 2.25em;
}
button.day{
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}
button.night{
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.crear{
  width: 9em;
  margin-right: 3%;
}
.elegir{
  width: 8.19em;
}
button.lista{
  width: 2.25em;
  border-left: none;
}
div.misGuifos{
  position: relative;
  display: flex;
  align-items: center;
  width: 5.94em;
  height: 2em;
  color: var(--colorTexto);
  letter-spacing: 0;
  line-height: 18px;
}
div.misGuifos a{
  height: min-content;
}
div.misGuifos a::after{
  content: '';
  position: absolute;
  border: 1px solid var(--colorTexto);
  top: 1.5em;
  left: .04em;
  width: .4em;
}
.misGuifos:hover{
  border: 1px dotted var(--colorTexto);
}
.misGuifos:active{
  opacity: .5;
}
header{
  display: flex;
  justify-content: space-between;
}
header img.logo{
  width: 6em;
  height: 3em;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
}
section.buscar{
  position: relative;
}
.buscador .barraTitulo{
  box-shadow: inset 2px 2px 0 0 var(--colorBorde2), inset -2px 0 0 var(--colorVentanaBorde1);
}
div.buscador{
  background: var(--fondoVentana);
  width: 100%;
  position: relative;
}
.buscador form{
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--fondoVentana);
  box-shadow: inset -2px -2px 0 0 var(--colorVentanaBorde1), inset 2px 0 0 var(--colorBorde2);
}
.buscador input[type="search"]{
  height: 48px;
  background: var(--colorBorde2);
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 var(--fondoVentana), inset 2px 2px 0 0 #000000;
  width: 100%;
  margin-right: 1%;
  padding: 0 2%;
  color: var(--colorVentanaBorde1);
  letter-spacing: 0;
  line-height: 22px;
}
.buscador div#buscador{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  background-color: var(--fondoVentana);
  color: var(--colorTextoBoton);
  width: 8%;
  padding: .5%;
  width: 6.38em;
  height: 2.25em;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}
.sugerenciasBuscador{
  /* max-width: 75em; */
  width: 100%;
  position: absolute;
  height: 10em;
  background-color: var(--fondoVentana);
  box-shadow: inset -2px -2px 0 0 var(--colorVentanaBorde1), inset 2px 2px 0 0 var(--colorBorde2);
  z-index: 2;
  padding: 1%;
}
.sugerenciasBuscador .opc{
  display: flex;
  padding-left: 2%;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  height: 2.13em;
  margin: 1%;
  margin-right: 11.5%;
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.sugerenciasBuscador .opc:hover, .sugerenciasBuscador .opc:focus{
  outline: 1px dotted #110038;
  outline-offset: -3px;
  background-color: #dbdbdb;
}
.sugerenciasBuscador .opc:not(:hover){
  background-color: #F0F0F0;
}
.sugerenciasBuscador .opc img{
  transform: rotate(180deg) scale(.8) translate(-5px, -2px);
}
div.historial{
  width: 100%;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  overflow: hidden;
}
div.historial button{
  margin: 10px 5px;
  width: auto;
  padding: 0 10px;
}
/* Sugerencias------------------------------------------------------------ */
.barraDivision{
  background: #FFFAFE;
  border: 1px solid var(--colorDivisionBorde);
  box-shadow: inset -2px -2px 0 0 var(--colorDivisionBorde1), inset 2px 2px 0 0 var(--colorDivisionBorde2);
  font-size: .88em;
  color: var(--colorTextoDivision);
  letter-spacing: 0;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 .5%;
  margin: 1.5% 0;
  margin-top: 6%;
}
div.lista{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
div.gif{
  width: 18em;
  height: 19.56em;
  background: var(--fondoVentana);
  margin: 2% .5%;
}
.img{
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: inset -2px -2px 0 0 var(--colorGifBorde1), inset 2px 2px 0 0 var(--colorBorde2);
}
.gif:hover .img, .gif .img button:hover, .gif img:hover{
  outline: 1px dotted #110038;
  outline-offset: -3px;
}
section.sugerencia button{
  position: absolute;
  bottom: .9em;
  left: .5em;
}
section.sugerencia .barraTitulo{
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  box-shadow: inset -2px 0 0 0 var(--colorGifBorde1), inset 2px 2px 0 0 var(--colorBorde2);
}
section.sugerencia .img{
  box-shadow: inset -2px -2px 0 0 var(--colorGifBorde1), inset 2px 0 0 0 var(--colorBorde2);
}
div.tags{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  display: none;
  padding-left: 10px;
}
section.tendencias div.gif{
  position: relative;
}
section.tendencias div.gif:hover div.tags{
  display: inline-block;
}

.boton2{
  width: 5.06em;
  height: 2.13em;
  background: var(--colorBoton2Fondo);
  border: 1px solid var(--colorBoton2Borde);
  box-shadow: inset -2px -2px 0 0 var(--colorBoton2Borde1), inset 2px 2px 0 0 var(--colorBorde2);
  font-size: .88em;
  color: var(--colorBorde2);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  z-index: 1;
}
/* Página: Crear gif */
img.atras{
  width: 1.5em;
  margin-right: 12%;
}
img.window{
  width: 2em;
  margin-right: 12%;
}
section.grabar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.container{
  position: relative;
  width: 42.75em;
  height: 24.13em;
  color: #E6E6E6;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin: 7%;
  display: none;
}
img.window{
  position: absolute;
  top: 14%;
  left: 4%;
}
div.info{
  display: flex;
  align-items: center;
  width: 32.38em;
  margin: auto;
  height: 14.32em;
}
div.info span.title{
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 2%;
}
div.info p{
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
  width: 100%;
  height: 11.88em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.info span.line{
  margin: 1% 0;
}
div.info p span.numero, div.info p span.guifo{
  font-size: 14px;
  color: #00001A;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: bold;
}
div.info p span.guifo{
  font-style: italic;
}
div.container div.botones{
  width: 50%;
  position: absolute;
  bottom: 9%;
  right: 0;
}
div.container div.botones button{
  margin-right: 3%;
  width: 9em;
  height: 2.25em;
}
div.container div.botones button.cancelar, button.copy, button.download{
  background: #FFF4FD;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
div.container div.botones button.comenzar{
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
div.captura{
  width: 53.75em;
  height: 34.25em;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
}
div.captura .barraTitulo, div.exito .barraTitulo{
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
div.captura div.video{
  width: 52.38em;
  height: 27.5em;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  align-self: center;
  margin: .8%;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.captura video{
  width: 100%;
  height: 100%;
}
div.captura div.capturar{
  width: max-content;
  align-self: flex-end;
  margin: 1.5%;
  display: flex;
  position: relative;
}
div.captura div.capturar button, button.finish{
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  height: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.captura div.capturar button:nth-child(1){
  width: 2.25em;
}
div.captura div.capturar button:nth-child(2){
  width: 9em;
}
div.captura div.capturar button.repeat{
  width: 9em;
  height: 2.25em;
  background: #FFF4FD;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  margin-right: 2%;
  display: none;
}
div.captura div.capturar button.upload{
  width: 9em;
  height: 2.25em;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  display: none;
}
span.text{
  font-weight: bold;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}
div.exito{
  width: 45.06em;
  height: 24.44em;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
div.exito .barraTitulo{
  padding: .5%;
}
div.exito div.container{
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
button.finish{
  width: 9em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 6%;
}
button.copy, button.download{
  width: 16em;
  height: 2.25em;
  margin-bottom: 4%;
}
div.exito div.vistaPrevia{
  width: 54%;
}
div.exito div.vistaPrevia .img{
  width: 23.19em;
  height: 12.25em;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  margin-left: 6%;
  margin-top: 8%;
}
div.exito div.vistaPrevia img{
  width: 22.81em;
  height: 11.94em;
}
div.exito div.opciones{
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8%;
}
div.opciones span.text{
  margin-bottom: 6%;
}
/* Botón para ir al inicio de la página */
button.top{
  position: fixed;
  right: 25px;
  bottom: 30px;
  width: 49px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
  transition: 1s;
  transform: translateY(100px);
}
button.top:hover::after, button.top:focus::after{
  content: '';
  border: 1px dotted #110038;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 50%;
}
button.top:hover, button.top:focus{
  outline: 0px dotted #110038;
}
button.top img{
  transform: rotate(90deg);
}